<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Opacity</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <section>
        <div id="rgba">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis et hic aliquam beatae dolor, tempore
            harum facilis, culpa quaerat mollitia omnis ipsa, sit nihil voluptas illum inventore? Sequi, accusamus eum.
        </div>
    </section>
    <section>
        <div id="opacity">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis et hic aliquam beatae dolor, tempore
            harum facilis, culpa quaerat mollitia omnis ipsa, sit nihil voluptas illum inventore? Sequi, accusamus eum.
        </div>
    </section>
</body>

</html>