<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bludit Main</title>
    <link rel="stylesheet" href="bludit.css">
</head>

<body>
    <nav class="top">
        <label for="search">Search</label>
        <input id="search" type="search" placeholder="search">
        <input type="password" placeholder="password">
        <button>Log In</button>
        <button id="signup">Sign Up</button>
        <input id="darkmode" type="checkbox">
        <label for="darkmode">Dark mode</label>
    </nav>

    <main>
        <h1 class="mainwords">Popular Posts</h1>
        <section class="post">
            <span>Posted by <a href="#post1">/u/not_funny</a></span>
            <h2 class="mainwords">Lol look at this hilarious meme <span class="tag">funny</span></h2>
            <button>+Vote</button>
            <hr>
        </section>
        <section class="post">
            <span>Posted by <a href="#post2">/u/gooner4lyfe</a></span>
            <h2 class="mainwords">Happy birthday to the strongest defender/bodyguard in the Prem! <span class="tag">gunners</span></h2>
            <button>+Vote</button>
            <hr>
        </section>
        <section class="post">
            <span>Posted by <a href="#post3">/u/dogfan</a></span>
            <h2 class="mainwords">This Corgi got some good stuff from the vet. <span class="tag">dogs</span></h2>
            <button>+Vote</button>
            <hr>
        </section><section class="post">
            <span>Posted by <a href="#post1">/u/not_funny</a></span>
            <h2 class="mainwords">Lol look at this hilarious meme <span class="tag">funny</span></h2>
            <button>+Vote</button>
            <hr>
        </section>
        <section class="post">
            <span>Posted by <a href="#post2">/u/gooner4lyfe</a></span>
            <h2 class="mainwords">Happy birthday to the strongest defender/bodyguard in the Prem! <span class="tag">gunners</span></h2>
            <button>+Vote</button>
            <hr>
        </section>
        <section class="post">
            <span>Posted by <a href="#post3">/u/dogfan</a></span>
            <h2 class="mainwords">This Corgi got some good stuff from the vet. <span class="tag">dogs</span></h2>
            <button>+Vote</button>
            <hr>
        </section><section class="post">
            <span>Posted by <a href="#post1">/u/not_funny</a></span>
            <h2 class="mainwords">Lol look at this hilarious meme <span class="tag">funny</span></h2>
            <button>+Vote</button>
            <hr>
        </section>
        <section class="post">
            <span>Posted by <a href="#post2">/u/gooner4lyfe</a></span>
            <h2 class="mainwords">Happy birthday to the strongest defender/bodyguard in the Prem! <span class="tag">gunners</span></h2>
            <button>+Vote</button>
            <hr>
        </section>
        <section class="post">
            <span>Posted by <a href="#post3">/u/dogfan</a></span>
            <h2 class="mainwords">This Corgi got some good stuff from the vet. <span class="tag">dogs</span></h2>
            <button>+Vote</button>
            <hr>
        </section>
    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#birds">Birds</a></li>
            </ul>
        </nav>
        <a href="#content">Content is available under these licenses.</a>
    </footer>
</body>

</html>