<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transitions</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <h1>Transitions</h1>

    <div class="circle"></div>

    <section id="zoom">
        <button>Search</button>
    </section>
    
    <section id="moveleft">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </section>

</body>

</html>