<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Border</title>
        <link rel="stylesheet" href="app.css">
        <script></script>
    </head>
    <body>
        <h1>Hello!<span>:)</span></h1>
        <div id="one">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus iure reprehenderit dicta necessitatibus labore exercitationem obcaecati ullam illo dolores asperiores dolore voluptates, molestiae vitae facere totam est eaque ipsam accusamus!
        </div>
        <div id="two">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus iure reprehenderit dicta necessitatibus labore exercitationem obcaecati ullam illo dolores asperiores dolore voluptates, molestiae vitae facere totam est eaque ipsam accusamus!
        </div>
        <div id="three">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus iure reprehenderit dicta necessitatibus labore exercitationem obcaecati ullam illo dolores asperiores dolore voluptates, molestiae vitae facere totam est eaque ipsam accusamus!
        </div>

        <button>Pad Me</button>
    </body>
</html>