<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>copy</title>
        <link rel="stylesheet" href="copy.css">
    </head>
    <body>
        <nav>
            <a href="#home">Home</a>
            <ul>
                <li><a href="#home">Contact</a></li>
                <li><a href="#home">Page</a></li>
                <li><a href="#home">Direct</a></li>
            </ul>
            <a href="#signup">Sign up</a>
        </nav>
        <h1>Media Queries</h1>
    </body>
</html>