<!DOCTYPE html>
<html>

<head>
    <title>Chicken - KIMtipedia</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>
    <main>
        <h1>1 &lt; 6 &gt; 5 &amp; &spades; &hearts;</h1>
        <h1>Chicken</h1>
        <!-- Alt attribute will be read by screenreader -->
        <hr>
        <h2>Augeries of Innocence</h2>
        <p>
            To see a World in a Grain of Sand <br>
            And a Heaven in a Wild Flower <br>
            Hold infinity in the palm of your hand <br>
            A Robin Red breast in a Cage <br>
        </p>
        <img src="pictures/chickens.jpg" alt="regular chickens">
        <div>
            <a href="http://www.google.com">I am a link to <span>google</span></a>
            <a href="about.html">About Page</a>
        </div>

        <p>The <b>chicken</b> (Gallus domesticus) is a domesticated species that arose from the red jungle<a
                href="https://en.wikipedia.org/wiki/Fowl">fowl</a>, originally
            from Southeast Asia. They have also partially hybridized with other wild species of junglefowl (the grey
            junglefowl, Ceylon junglefowl, and green junglefowl).<sup><a href="somesource.com"><b>[1]</b></a></sup>
            Rooster
            and
            cock are terms for adult male birds, and a
            younger male may be called a cockerel. A male that has been castrated is a capon. An adult female bird is
            called
            a hen, and a sexually immature female is called a pullet. Humans keep chickens primarily as a source of food
            (consuming both their meat and eggs) or as pets. Traditionally, they were also bred for cockfighting, which
            is
            still practiced in some places. Chickens domesticated for meat are broilers, and for eggs, they are layers.
        </p>
        <p>Chickens are one of the most common and widespread domestic animals,
            with a total population of 23.7 bil lion as of 2018,<sup><a href="somesource2.com"><b>[2]</b></a></sup> up
            from
            more
            than 19 billion in 2011.
            There are more chickens in the world than any other bird. There are numerous cultural references to
            chickens—in
            myth,
            folklore, and religion, as well as in language and literature.
        </p>

        <section>
            <h2>Terminology</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi ullam soluta officiis non ab illum error
                est
                vitae libero, laborum perspiciatis illo perferendis veritatis hic, nihil modi. Praesentium, iusto
                placeat.
                Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Sapiente porro facilis delectus! Consequatur ullam,
                ipsam
                doloremque accusantium corporis alias. Laudantium in obcaecati earum vel aliquid quidem aperiam sed
                quisquam
                labore?
                Blanditiis quo a facere ipsa, cum distinctio dignissimos! Officiis consequatur consequuntur, beatae
                ducimus
                eligendi quos quod blanditiis impedit illum eveniet tempora aspernatur sunt? Distinctio, unde
                dignissimos
                provident voluptatum deleniti sequi!
                Incidunt numquam eaque esse. Dolorum, commodi nesciunt impedit nulla cupiditate blanditiis earum quod
                excepturi
                harum aperiam numquam eius animi officiis quam nihil vero dignissimos, vitae, debitis vel. Voluptate,
                deserunt
                id.
                Modi asperiores voluptatum perferendis labore blanditiis repellendus commodi iste accusamus beatae,
                expedita
                nostrum voluptate aliquid voluptatibus mollitia sapiente eum nam perspiciatis, accusantium aut. Itaque
                ducimus
                nisi quos quo nihil consequatur?
                Saepe ratione tempora exercitationem placeat, earum cumque ipsam laudantium ducimus iusto voluptates! At
                doloremque hic cumque aliquid dolorem voluptate similique. A suscipit quam ea alias! Repellat
                perspiciatis
                ipsa
                dolor sint?
            </p>
        </section>
        <h2>General biology and habitat</h2>
        <h3>Behavior</h3>
        <h4>Social behaviour</h4>
        <h4>Broodiness</h4>
        <h5>I AM H5</h5>
        <h6>I AM H6</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt corporis sed laboriosam, ullam tempore
            itaque
            temporibus porro saepe consequatur optio aperiam commodi nesciunt nisi, impedit nulla in ex corrupti!
            Praesentium.
            Distinctio nam quos sequi, possimus modi quam corporis cum, quae nisi repellat accusantium quaerat excepturi
            quidem nostrum voluptas voluptatum consequatur, voluptates maxime rerum neque eveniet laboriosam sit a
            sapiente!
            Aperiam?
            Animi veritatis excepturi eligendi culpa officia molestias assumenda sunt architecto impedit ad, rerum,
            corporis
            harum perferendis totam. Eius, quas molestiae! Distinctio dolorum totam voluptates sunt corrupti, atque
            repellendus cumque aperiam.
        </p>
        <h2>Breeds of Chickens</h2>
        <!-- we can nest lists! -->
        <ul>
            <li>Bantam
                <ol>
                    <li>Silkie</li>
                    <li>Polish</li>
                </ol>
            </li>
            <li>Standard
                <ul>
                    <li>Easter Egger</li>
                    <li>Rhode Island Reds</li>
                </ul>
            </li>
        </ul>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Lavender_Orpington_Chicken.jpg/330px-Lavender_Orpington_Chicken.jpg"
            alt="chick">
        <h2>I like H<sub>2</sub>O</h2>
        <p>
            <sup>1</sup>/<sub>2</sub> + <sup>1</sup>/<sub>2</sub> = 1
        </p>
    </main>
    <footer>
        <p>
            This is my website
        <ul>
            <li><a href="contact">Contact</a></li>
            <li><a href="help">Help</a></li>
        </ul>
        </p>
    </footer>
</body>

</html>