<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emmet Demo</title>
</head>

<body>
    <main>
        <section>
            <h1></h1>
        </section>
    </main>
    <h1></h1>
    <h2></h2>
    <h2></h2>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <nav>
        <ul>
            <li><a href="www.source1.com">Source 1</a></li>
            <li><a href="www.source2.com">Source 2</a></li>
            <li><a href="www.source3.com">Source 3</a></li>
            <li><a href="www.source4.com">Source 4</a></li>
            <li><a href="www.source5.com">Source 5</a></li>
        </ul>
    </nav>
</body>

</html>